
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Project Artifacts
data/
submission.py

# Logs
*.log

# OS
.DS_Store

# IDEs
.idea/
.vscode/

# 3D Source Files (Keep GLB)
*.obj
*.mtl
*.blend
*.fbx
